<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pavitra Bandhan</title>

        <!--box icons -->
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <!--edit1-->

        <!-- custom css-->
        <link rel="stylesheet" href="/css/styles.css"> 
    </head>

    <body>

        <!-- header design -->
        <header class="header">
            <a href="#" class="logo">Pavitra Bandhan</a>

            <i class='bx bx-menu' id="menu-icon"></i>

            <nav class="navbar">
                <a href="#home"  class="active">Home</a>
                <a href="#about">About</a>
                <a href="#services">Services</a>
                <a href="#portfolio">Portfolio</a>
                <a href="#contact">Contact Me</a>
                <a href="/">Login</a>
                <a href="/profile">Profile</a>
            </nav>
        </header>

        <!-- home section design-->
        <section class="home" id="home">
            <div class="home-content">
                <h3>Welcome to a world of extraordinary moments, 
                    where your dream wedding becomes a heartfelt reality."</h3>
                <h1>We are <span class="multiple-text"></span></h1>
                <h3>Let's embark on this extraordinary journey together!</h3>
                <p>  Congratulations on taking the first step towards your journey towards a lifetime of love and happiness!</p>
                <p>We are thrilled that you've chosen to explore our wedding service provider website, where we turn dreams into breathtaking realities.</p>
                <p>At Pavitra Bandhan , we understand the significance of your big day, and it is our honor to be a part of your joyous occasion.</p>
                <div class="social-media">
                    <a href="https://www.facebook.com/profile.php?id=100030106262499&mibextid=ZbWKwL"><i class='bx bxl-facebook-circle'></i></a>
                    <a href="https://instagram.com/sures.hkumar6401?igshid=MmU2YjMzNjRlOQ=="><i class='bx bxl-instagram'></i></a>
                    <a href="mailto:sk21225464@gmail.com"><i class='bx bxl-gmail' ></i></a>
                    <a href="https://wa.me/919005346765"><i class='bx bxl-whatsapp'></i></a>
                </div>
            </div>
            <div class="home-img">
                <img src="/images/thenewsminute_import_sites_default_files_marriage_wedding_indian_wiki.avif" alt="">
            </div>
        </section>

        <!--about section design-->
        <section class="about" id="about">
            <div class="about-img">
                <img src="/images/549234-bappa.webp" alt="">
            </div>

            <div class="about-content">
                <h2 class="heading">About <span>Pavitra Bandhan</span></h2>
                <p></p>
                <h1>Wedding Event Service</h1>
                <p>"At Pavitra Bhandhan, we design the wedding of your dreams, fusing time-honored customs with a modern, fresh twist.
                     Our skills span a wide range of services, from creating enchanted decorations and savoring your palate with excellent catering to enhancing your natural beauty in our opulent parlor.
                    <br>But that is not where we end.<br>
                    In a world where everyone is connected, we provide a special and enduring method for discovering your soul mate by fusing traditional methods with contemporary opportunities. We think it's important to create solid, enduring relationships and that love has a certain enchantment."
                    <br>Come along on this remarkable journey with us as we effortlessly combine tradition and innovation to create a wedding experience that is as one-of-a-kind as you.


                </p>
                <a href="#portfolio" class="btn">Explore</a>
            </div>
        </section>

        <!--services section design-->
        <section class="services" id="services">
            <h2 class="heading">Our <span>Services</span></h2>

            <div class="services-container">
                <div class="services-box">
                    
                    <h3>Wedding Event Service</h3>
                    <p>we specialize in creating unforgettable moments and timeless memories through our comprehensive marriage and event services. 
                        With a passionate commitment to excellence, we are dedicated to turning your dreams into reality.
                         Our services encompass every aspect of your special occasion, ensuring a seamless and memorable experience for you and your guests.</p>
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSe60PMknEKTmmt79hvGy9igV4_vmdqgovKPJ4v9d2a5vL0EyQ/viewform?embedded=true" class="btn">Order Request</a>
                </div>

                <div class="services-box">
                
                    <h3>Catering Services</h3>
                    <p>Indulge in a culinary Journey crafted by our talented chefs and team is dedicated to tantalizing your taste buds with a delectable array of dishes. Whether it's a grand wedding feast or an intimate gathering, we offer a diverse menu to suit your preferences.
                        </p>
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSdc6nfDLAACjkkMYxk51NMthbGD0EEWsqWdq5Ws9qmAoR3isg/viewform?embedded=true" class="btn">Order Request</a>
                </div>
            

                <div class="services-box">

                    <h3>Beauty Services</h3>
                    <p>Step into our luxurious beauty parlor, where our skilled professionals enhance your natural beauty and create a look that radiates confidence and charm. You'll feel your best on your special day with our pampering services.</p>
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSclZ3PChYgfTkziwRzrF_055DMkU538f89FdpO22A0DZe0zsw/viewform?embedded=true" class="btn">Order Request</a>
                </div>

                <div class="services-box">
                
                    <h3>Matchmaking and Biodata Services</h3>
                    <p>or those seeking lasting love, our traditional matchmaking services offer a time-tested approach to finding your life partner. Our experienced matchmakers help you connect with compatible matches, while our biodata services allow you to present your authentic self to potential partners.</p>
                    
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfeU_PpCEZuVMIahaBEW_2BTZTG0IJknHrF9FJIhh5Vm8SP2A/viewform?embedded=true" class="btn">Contact info</a>
                </div>
            </div>
        </section>

        <!-- portfolio section design-->
        <section class="portfolio" id="portfolio">
            <h2 class="heading">Latest <span>Project</span></h2>

            <div class="portfolio-container">
                <div class="portfolio-box">
                    <img src="/images/screen-shot-2021-04-24-at-11-26-14-pm_orig.png" alt="">
                    <div class="portfolio-layer">
                        <h4>Stage Decoration</h4>
                        <p>Provide expert decoration and design services to create visually stunning and cohesive event spaces that match the client's theme and preferences.</p>

                    </div>
                </div>
                <div class="portfolio-box">
                    <img src="/images/screen-shot-2021-04-24-at-11-44-38-pm_orig.png" alt="">
                    <div class="portfolio-layer">
                        <h4>Event Planning</h4>
                        <p>Offer comprehensive event planning services, including initial consultation,<br> theme and concept development,<br> budget management,<br>and timeline creation.</p>

                    </div>
                </div>
                <div class="portfolio-box">
                    <img src="/images/screen-shot-2021-04-25-at-12-03-04-am_orig.png" alt="">
                    <div class="portfolio-layer">
                        <h4>Decor and Design</h4>
                        <p>Provide expert decoration and design services to create visually stunning and cohesive event spaces that match the client's theme and preferences.</p>

                    </div>
                </div>
                <div class="portfolio-box">
                    <img src="/images/the-best-indian-wedding-food-caterers-available-online050051-1-1.jpg" alt="">
                    <div class="portfolio-layer">
                        <h4>Catering</h4>
                        <p>Collaborate with professional caterers to curate diverse menus tailored to the event type, dietary restrictions, and guest preferences.</p>

                    </div>
                </div>
                <div class="portfolio-box">
                    <img src="/images/download.jpeg" alt="">
                    <div class="portfolio-layer">
                        <h4>Make up Artist</h4>
                        <p>Employ skilled and certified beauty professionals, including hairstylists, makeup artists, estheticians, and nail technicians, to provide a wide range of services.</p>

                    </div>
                </div>
                <div class="portfolio-box">
                    <img src="/images/6-must-have-indian-wedding-dishes044635-copy-1.png" alt="">
                    <div class="portfolio-layer">
                        <h4>Catering</h4>
                        <p>Even if food is Veg or Non-Veg we fulfill both condition with all neccearies needs like Quality Ingredients, Food Safety, Beverage Service.</p>

                    </div>
                </div>
            </div>
        </section>

        <!--contact section design-->
        <section class="contact" id="contact">
            <h2 class="heading">Contact <span>Me!</span></h2>

            <form action="#">
                <div class="input-box">
                    <input type="text" placeholder="Full Name">
                    <input type="email" placeholder="Email Address">
                </div>
                <div class="input-box">
                    <input type="number" placeholder="Mobile Number">
                    <input type="text" placeholder="Email Subject">
                </div>
                <textarea name="" id="" cols="" rows="10" placeholder="Your Message"></textarea>
                <a href="mailto:sk21225464@gmail.com"<input type="submit" value="Send Message" class="btn">></a>
            </form>
        </section>

        <!--footer design-->
        <footer class="footer">
            <div class="footer-text">
            <p>Copyright & Copy; 2023 | All rights Reserved. </p>
            </div>

            <div class="footer-iconTop">
                <a href="#home"><i class='bx bx-up-arrow-alt'></i></a>
            </div>
        </footer>

        <!--scroll reveal -->
        <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
        <script src="https://unpkg.com/scrollreveal"></script>

        <!--typed js -->
        <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
        

        <!-- custom js-->
        <script src="/script.js"></script>
    </body>     

</html>